<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/homepage-styles.css" />
    <title>The Bugle</title>
  </head>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h4>The Bugle</h4>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div class="navBar">
            <ul class="nav-links">
                <li>
                    <a href="/create">Create Article</a>
                </li>
                <li>
                    <a href="/#feed">Articles</a>
                </li>
                <li>
                    <a href="/contact">About Us</a>
                </li>
            </ul>
        </div>
    </header>

  