<%-  include("partials/header") -%>
<div class="scroll-profile">
      <div class="profile">
        <div class="profile-left">
          <div class="profile-username">Fraser</div>
          <div class="profile-title">Front-end Designer</div>
        </div>
        <div class="profile-right">
            <img class="profile-logo" src="img/logo.svg">
        </div>
      </div>
      <div class="profile">
        <div class="profile-left">
          <div class="profile-username">Jordan</div>
          <div class="profile-title">Front-end Designer</div>
        </div>
        <div class="profile-right">
            <img class="profile-logo" src="img/logo.svg" />
        </div>
      </div>
      <div class="profile">
        <div class="profile-left">
          <div class="profile-username">Joshua</div>
          <div class="profile-title">Back-end Architect</div>
        </div>
        <div class="profile-right">
            <img class="profile-logo" src="img/logo.svg" />
        </div>
      </div>
      <div class="profile">
        <div class="profile-left">
          <div class="profile-username">Kester</div>
          <div class="profile-title">Back-end Architect</div>
        </div>
        <div class="profile-right">
            <img class="profile-logo" src="/img/logo.svg" />
        </div>
      </div>
    </div>
<%- include("partials/footer") -%> 